body {
    
    height: 100vh;
    margin: 0;
    
    font-family: Roboto, sans-serif;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    margin: 0;

  }
   a {
    color: #e5e7eb;
    text-decoration: none;
   }
  .nav-items {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding-right: 64px;
  }

  .logo {
    font-size: 24px;
    color: #f9faf8;
    padding-left: 96px;
    
  }
  main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    padding: 200px;

    
  }
  .hero-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;


  }
  .hero-secondary-text {
    font-size: 18px;
    color: #f9faf8;
  }
   .hero-button {
    background-color: #3882f6;
    font-size: 24px;

   }
  .card {
    display: flex;
    flex-direction: column;
    width:100px;
  }
  .cards {
    display: flex;
    justify-content: center;
    gap: 5rem;
  }
  .content {
    border-style: solid;
    width: 100px;
    height: 100px;

  }
  .card > p {
    flex: auto;
  }
  main > h1 {
    text-align: center;
  }
  img {
    width: 350px;
  }